body {
  background-color:#06B;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  text-shadow: 1px 1px 1px black;
}

h1 {
  margin: 15px 0;
  font-size: 2.2em;
  text-align: center;
}

button {
  text-align: left;
  font-family: inherit;
  background-color: darkcyan;
  text-shadow: inherit;
  border: none;
  padding: 1.5em 0.7em;
  font-size: 1.2em;
  width: 100%;
  color: inherit;
  letter-spacing: .05em;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #666;
}

.game-board {
  margin: 10px 0;
}

.money {
  text-align: center;
  font-size: 1.2em;
  background-color: dodgerblue;
  padding: 1.5em 0;
}
